/** SE APLICA UN MARGEN DE 0 PIXELES A TODO EL DOCUMENTO HTML
 PARA QUE LOS CONTENEDORES OCUPEN EL 100% DE LA PANTALLA **/
 * {
    margin:0px;
    
   }

   body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-color: black;
 }
/**
ESTILIZA EL HEADER DE LA APLICACION HACIENDOLO OCUPAR EL 100% DE LA PANTALLA
**/
.header{

    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    position: fixed;
  
}
/**
ESTILIZA EL ICONO DE LA BUSQUEDA
**/

#back{

    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    
}

#settings{

    padding: 10px;
    float: right;
    text-align: center;
    margin-top: 10px;
    display: block;
  }

/**
ESTILIZA EL ICONO DE LA BUSQUEDA AL PASAR EL MOUSE POR ENCIMA INVIRTIENDO SUS COLORES
Y AL HACER CLICK
**/
#settings:hover{


    transition-delay: .10ms;
    cursor: default;
    background-color: white;
    color: black;
    border-radius: 70px;

  }

/**
ESTILIZA PARRAFO TIPO H2 
**/
  h2{
    font-family: monospace;
    color: white;
    padding: 4px;
    display: block;
    margin-top: 20px;
    float: left;
    font-size: 20px;
  }

/**
ESTILIZA EL ICONO DE QR 
**/
  
#qr{

    padding: 10px;
    float: right;
    text-align: center;
    margin-top: 10px;
    display: block;

/**
ESTILIZA EL ICONO DE QR AL PASAR EL MOUSE POR ENCIMA INVIRTIENDO SUS COLORES
Y AL HACER CLICK
**/ 
    
}

#back:hover{


    transition-delay: .10ms;
    cursor: default;
    background-color: white;
    color: black;
    border-radius: 70px;

  }

/**
ESTILIZA LOS ICONOS DE NAVEGACION DEL MENU DENTRO DEL FOOTER
**/

  span{

    padding: 5px;
    
    

  }

  /**
ESTILIZA LOS ICONOS DE NAVEGACION DEL MENU DENTRO DEL FOOTER AL PASAR EL MOUSE
 POR ENCIMA INVIRTIENDO SUS COLORES
Y AL HACER CLICK
**/

  span:hover{

    transition-delay: .10ms;
    cursor: default;
    background-color: white;
    color: black;
    border-radius: 15px;

  }

    /**
ESTILIZA EL FOOTER Y LO POCISIONA HASTA ABAJO DANDOLE UN POCISIONAMIENTO ESTATICO
**/


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    display: inline-block;
    word-spacing: 20px;
  }

/** PERSONALIZACION DE LAS CARDS**/

.card {
  /* Add shadows to create the "card" effect */
  
  transition: 0.3s;
  
  
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

  
#guardar{

float: right;

}

#guardar:hover{

  transition-delay: .10ms;
  cursor: default;
  background-color: white;
  color: black;
  border-radius: 15px;

}



#icons2:hover{

  transition-delay: .10ms;
  cursor: default;
  background-color: white;
  color: black;
  border-radius: 15px;

}

#buscar{

  padding: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  float: left;
  display: block;
  text-align: left;
  background-color: rgba(240, 248, 255, 0);
  border: 0;
  outline: none;
  
 

}



h3{

  padding: 5px;
  margin-top: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  

}

h5{

  padding: 15px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
  color: white;

}

h6{

  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
  color: white;

}

#hola{

  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
}

#hola2{

   
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
  }

#caja{
    display: inline-block;
    padding-top: 20px;
    
}

#historias{

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    color: rgb(153, 153, 153);   

}
hr{

 padding-top: 50px;

}

#info{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

#name{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;   
}

#description{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    font-family: monospace;
    font-size: 13px;
    text-align: left;
    color: rgb(153, 153, 153);   
}

#resume{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    color: white;   
}

#detalles{
    
    color: white; 
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    font-family: sans-serif;
    word-spacing: 38px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    


}

#profile-container {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#boton{
    margin-top: 20px;
    padding: 5px;
    margin-left: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border: .50;
    outline: none;
    font-family: sans-serif;
    width: 100px;

}

.imgWrapper3 {
    font-size: 0;
    text-align: center;
    margin-top: 20px;
    
}
.imgResponsiva,
.imgWrapper3 .imgResponsiva {
    display: inline-block;
    font-size: inherit;
}
.imgResponsiva {width: 25%; max-width: 345px;}
.imgWrapper3 .imgResponsiva {width: 33.3%; max-width: 345px;}

.imgResponsiva img {
    height: auto;
    width: 100%;
}



  /**  MATERIAL DESIGN ICONS RULES **/

   /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    display: inline-block;
    word-spacing: 100px;
  }

  .card{
    margin-left: 300px;
    margin-right: 300px;
    
  }

  #dashboard{

    margin-left: 300px;
    margin-right: 300px;

  }

  #cuerpo{
    margin-left: 300px;
    margin-right: 300px;
  }

  #encabezado{

    margin-left: 0px;
    margin-right: 0px;
  }

  
}

